.alert {
	position: fixed;
	display: grid;
	place-items: center;
	z-index: 1;
	left: 0;
	top: 25px;
	width: 100%;
	animation: a .4s ease;
	.alert-container {
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: 600px;
		padding: 16px;
		gap: 16px;
		row-gap: 24px;
		border-radius: 8px;
		width: 80%;
		.alert-header {
			display: grid;
			grid-template-columns: 24px 1fr 24px;
			gap: 16px;
			align-items: center;
			.alert-header__content {
				display: flex;
				flex-direction: column;
				h2 {
					font-weight: 500;
					font-size: 24px;
					line-height: 34px;
					display: flex;
					align-items: center;
				}
				p {
					font-weight: 400;
					font-size: 16px;
					line-height: 26px;
					display: flex;
					align-items: center;
					color: #14171A;
				}
			}
			> svg {
				width: 24px;
				height: 24px;
				&:last-of-type {
					cursor: pointer;
				}
			}
		}
		&.Sucesso {
			background-color: #EFFBCC;
			border: 1px solid #245302;
			.alert-header .alert-header__content h2 {
				color: #245302;
			}
		}
		&.Alerta {
			background-color: #FFF9CC;
			border: 1px solid #7A5D00 !important;
			.alert-header .alert-header__content h2 {
				color: #7A5D00;
			}
		}
		.alert-res {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 16px;
			button {
				background-color: transparent;
				padding: 8px 16px;
				border: 1px solid #7A5D00;
				border-radius: 8px;
				color: #7A5D00;
				cursor: pointer;
				&:last-of-type {
					background-color: #7A5D00;
					color: #fff;
				}
			}
		}
		.close-button {
			background-color: #008CBA;
			color: #fff;
			padding: 8px 16px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			float: right;
		}
	}
}

.none {
	display: none !important;
}


@keyframes a {
  0% {
    margin-block-start: -100%;
  }
  100% {
		margin-block-start: 0;
  }
}