/* Error: There is no module with the namespace "v".
 *    ,
 * 82 |                         border: 1px solid v.$higlight;
 *    |                                           ^^^^^^^^^^^
 *    '
 *   components\mains\cliente.scss 82:25  @import
 *   index.scss 11:9                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "v".\a    \2577 \a 82 \2502                          border: 1px solid v.$higlight;\d\a    \2502                                            ^^^^^^^^^^^\a    \2575 \a   components\\mains\\cliente.scss 82:25  @import\a   index.scss 11:9                      root stylesheet';
}
