$old-bg-color: #F2F7F5;
$bg-color: #fffbff;
$headline: #2B2C34;
$paragraph: #2B2C34;
$button: #6246EA;
$button-text: #FFFFFE;

$stroke: #2B2C34;
$main: #FFFFFE;
$higlight: #6246EA;
$secondary: #D1D1E9;
$tertiary: #E45858;

$success: #7FD62F;
$info: #1980FF;
$warning: #FFA10A;
$danger: #FF3A3A;

$black: #2B2C34;
$white: #FFFFFE;
$gray: #F1F1F1;